html {
  font-size: 12pt;
  font-family: Montserrat;
  width: 700px;
  background-color: black;
}

p {
color: red;
}

h1, li {
  font-style: 72pt;
  color: yellow;
  text-shadow: 2px 2px 2px black;
}
